.select {
  width: 100%;
  outline: none;
  background: white;
  max-height: 250px;
  overflow-y: scroll;

  li {
    cursor: pointer;
    padding: 13px;
    transition: .3s;

    &:hover {
      background: rgba(#D9D9D9, .2);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

