.switcher {
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: max-content;
}

.switcher_container {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: white;
  padding: 3px;
  position: relative;
  overflow: hidden;
  width: max-content;

  span {
    position: absolute;
    background: #1c274c;
    inset: 0;
    z-index: 1;
    border-radius: 200px;
  }

  li {
    color: #1c274c;
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  p {
    padding: 10px 15px;
    position: relative;
    font-size: 14px;
    z-index: 15;
  }
}

.active {
  color: white;
  transition: color 0.3s;
}
