.search_box {
  position: relative;
  top: 10px;
  z-index: 600;
}

.search_box_container {
  position: absolute;
  background: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 10px;
  z-index: 130;
}


.search_box_selected_langs {
  display: flex;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  width: 100%;

  ul {
    padding: 10px;

  }
}