@import 'src/scss/var';
@import 'src/scss/mixin';

.stackInput {
  border: none;
  outline: none;
  border-bottom: 1px solid $dark_blue;
  text-align: center;
  color: $dark_blue;
  font-weight: bold;
  padding-bottom: 5px;
  position: absolute;
  width: 50px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 25px;

  &:focus {
    &::placeholder {
      color: white;
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    font-size: 25px;
    color: $dark_blue;
  }
}
