@import 'src/scss/var';
@import 'src/scss/mixin';

.positions {
  margin-top: 50px;
}

.positions_title {
  @include text-form-style();
  font-size: 20px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.positions_container {
  margin-top: 35px;
  padding-bottom: 20px;
}

.add_position_btn {
  @include flex-center();
  padding-top: 20px;

  button {
    @include button(light, 40px);
  }
}
