@import 'src/scss/var';
@import 'src/scss/mixin';

.position_container {
  width: 100%;
  background: $dark-blue;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;

  h3 {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
  }
}

.lang,
.show_body_toggle {
  background: white;
  border-radius: 50%;
}

.lang {
  width: 50px;
  height: 50px;
  @include flex-center();
}

.position_info,
.position_options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.save_btn {
  border-radius: 100px;
  background: $dark-blue;
  color: white;
  border: solid 2px white;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
  &:hover {
    background: white;
    color: $dark-blue;
  }
}

.show_body_toggle {
  width: 30px;
  height: 30px;
  @include flex-center();
  cursor: pointer;
  img {
    width: 50%;
  }
}
