.badge {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50%;
  background: #1C274C;
  //padding: 5px 10px;
  cursor: pointer;
  padding: 7px;
  color: white;
  gap: 10px;
}

.badge img {
  width: 13px;
  height: 13px;
}