.nav {
  width: 100%;
  padding: 20px;
  background: #FFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 10px;
}