@import "src/scss/var";
@import "src/scss/mixin";


.textarea {
  textarea {
    border: solid 2px $dark-blue;
    color: $dark-blue;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    margin-top: 11px;
    padding: 8px;
    width: 100%;
  }

  label {
    @include text-form-style;
  }
}