@import "src/scss/var";
@import "src/scss/mixin";


.map {
  margin-top: 100px;
  width: 100%;
  height: 400px;

  div:nth-child(2) {
    margin-top: 30px;
  }
}

.map_container {
  //margin-top: 20px;
}