@import 'src/scss/var';
@import 'src/scss/mixin';

.upload {
  background: $dark_blue;
  padding: 86px 100px;

  &_container {
    background: white;
    border-radius: 20px;
    padding-bottom: 200px;
  }
}

.main {
  padding: 0px 160px;
}

.save_btn {
  @include flex-center();
  position: relative;
  top: 130px;
  button {
    @include button(dark, 60px);
  }
}
