@import 'src/scss/var';
@import 'src/scss/mixin';

.header {
  h3 {
    font-size: 20px;
  }
}

.basic_info_container {
  @include flex-center;
  gap: 45px;
  padding-top: 115px;
}

.img_container {
  @include flex-center;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.info_form {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 40px;
  row-gap: 20px;
}
