@import 'src/scss/var';
@import 'src/scss/mixin';

.stack_circle {
  position: relative;
  width: max-content;
  div {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient($dark-blue 360deg, #ffff 0deg);
    font-size: 0;
  }

  div::after {
    content: attr(data-progress) '%';
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 12px;
    border-radius: 50%;
    background: white;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
}
