@import 'src/scss/var';
@import 'src/scss/mixin';
.stacks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.dark {
  color: white;
  justify-content: flex-end;
  small {
    color: #fff;
    opacity: 0.8;
  }

  article {
    background: $dark-blue;
    div::after {
      background: $dark-blue;
    }
    small {
      color: white;
      text-transform: capitalize;
      opacity: 1;
    }
  }
}
