@import "src/scss/var";
@import "src/scss/mixin";

.stack_circle {
  margin: 30px 0px;

  div {
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient($dark-blue 219deg, #ffff 0deg);
    font-size: 0;
  }

  div::after {
    content: attr(data-progress) '%';
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 12px;
    border-radius: 50%;
    background: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

}

.stacks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.stack_info {
  text-align: center;
  padding-bottom: 30px;
  margin-top: -7px;

  p {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  small {
    display: block;
    color: $dark-blue;
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.5;
  }
}

