@import "styles/normalize";
@import "src/scss/mixin";
@import "styles/var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body, html {
  overflow-x: hidden;
}

.info_title {
  @include text-form-style;
  padding-bottom: 20px;
  border-bottom: solid 2px rgba($dark_blue, .1);
  font-size: 13px;
}