@import "src/scss/mixin";
@import "src/scss/var";

.board {
  padding: 10px;
  width: 700px;
  overflow-y: scroll;
  max-height: 100vh;

  &::-webkit-scrollbar {
    display: none;
  }

  section:not(:nth-child(1)):not(:nth-child(2)) {
    background: white;
    border-radius: 5px;
  }
}

.board_container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: $dark-blue;
}

.vacation_header {
  background: $dark-blue;
  border-radius: 5px;
  padding: 35px;
}


.company_info {
  @include flex-center;

  &_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.company_boxes {
  margin: 30px 0px;
}


.get_in_touch {
  padding-bottom: 150px;
}

.desc_info, .form_container, .header_block {
  padding: 17px;
}

.header_block {
  font-weight: bold;
  border-bottom: 1px solid rgba($dark-blue, 0.1);
}

.desc_info p {
  font-size: 14px;
  line-height: 25px;
}




