@import "src/scss/mixin";

.search_lang_input {
  border: solid 2px rgba(#000, .1);
  border-radius: 20px;
  cursor: text;
  display: flex;
  align-items: center;
  width: 200px;
  height: 42px;
  padding: 4px;
  justify-content: space-between;

  input {
    border: none;
    font-size: 14px;
    width: 100%;
    outline: none;
    height: 30px;
    margin-left: 15px;
    @include text-form-style;
  }

  .badges {
    gap: 3px;
    @include flex-center;
  }
}

.search {
  cursor: pointer;
  position: relative;
  right: 8px;
  background: white;
}